.card-container:hover {
    transform: translate3D(0,-1px,0) scale(1.03);
}

.card-img-container {
    width: 300px; /* Fixed width */
    height: 250px; /* Fixed height */
    overflow: hidden; /* Hide any overflowing image parts */
    position: relative; /* Ensure positioning context for absolute child */
    cursor: pointer;
}

.card-img-container img {
    width: 100%; /* Stretch image to fill container width */
    height: 100%; /* Stretch image to fill container height */
    object-fit: contain; /* Fit the entire image within the container */
}

i {
    cursor: pointer;
}