<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container-fluid">
                <div class="row gy-3 gy-md-4">
                    <!--Card start-->
                    <div class="col-12 col-md-6 col-lg-4 d-flex flex-column" *ngFor="let shampoo of shampooList">   
                        <div class="card border-0 rounded-0 shadow flex-fill card-container" style="width: 18rem;">
                            <div class="card-img-container">
                                <img src="{{ shampoo.productImage }}" class="card-img-top rounded-0" alt="...">
                            </div>
                            <div class="card-body mt-3 mb-3">
                                <div class="row">
                                    <div class="col-10">
                                        <h4 class="card-title">{{ shampoo.productName }}</h4>
                                        <p class="card-text">
                                            <app-star-rating [rating]="shampoo.productAvgRating"></app-star-rating>
                                            ({{ shampoo.productTotalRating }})
                                        </p>
                                    </div>
                                    <div class="col-2">
                                        <i class="bi bi-bookmark-plus fs-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center text-center g-0">
                                <div class="col-4">
                                    <h5>{{ shampoo.productPrice | currency: 'INR' }}</h5>
                                </div>
                                <div class="col-8">
                                    <a href="#" class="btn btn-dark w-100 p-3 rounded-0 text-warning">ADD TO CART</a>
                                </div>
                            </div>
                        </div>
                    </div> <!--Card end-->
                </div>
            </div>
        </div>
    </div>
</div>