<div class="container px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Let's get some shopping done with <span class="d-none d-sm-inline mx-1" id="brand">Shopping Bee</span>!</h1>
            <p class="col-lg-10 fs-4">
                Discover a curated selection of high-quality cosmetics, including luxurious shampoos, refreshing body washes, and rejuvenating 
                facial creams, all from the comfort of your home. With <span class="d-none d-sm-inline mx-1" id="brand">Shopping Bee</span>, you can easily browse through our extensive range of 
                premium products, read detailed reviews, and enjoy exclusive offers tailored to your beauty needs. 
                So, <b>Buzz</b> over to <span class="d-none d-sm-inline mx-1" id="brand">Shopping Bee</span> and let your beauty routine shine!
            </p>
            <button (click)="onViewProducts()" class="btn btn-warning col-lg-10 fs-4 text-center text-white">View our wide range of products</button>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-light">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="checkbox mb-3">
                    <label>
                    <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
                <hr class="my-4">
                <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
            </form>
        </div>
    </div>
</div>