<div class="container px-5 py-4">    
    <div class="card mb-3 main-card position-relative">
        <i class="bi bi-heart-fill position-absolute fs-3 save-heart"></i>
        <div class="row g-0 card-row">
            <div class="col-md-5 img-div">
                <img src="https://healthyhome.co.in/cdn/shop/products/1_a3e807bc-bd33-45cc-b963-6388b63b6e76_1024x1024.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h1 class="font-bold pt-3 mb-2.5 text-2xl">Red Onion Hair Shampoo, 300ml</h1>
                    <h5 class="text-muted my-3">Strengthens Roots &amp; Improves Hair Texture</h5> <!---->
                    <div class="main-rating-div">
                        <div class="row no-gutters rating-card">
                            <!-- Left Side -->
                            <div class="col-6 d-flex card-left">
                                <i class="bi bi-star-fill text-warning fs-5"></i>
                                <i class="bi bi-star-fill text-warning fs-5"></i>
                                <i class="bi bi-star-fill text-warning fs-5"></i>
                                <i class="bi bi-star-fill text-warning fs-5"></i>
                                <i class="bi bi-star-fill text-warning fs-5"></i>
                                <p>(5)</p>
                            </div>
                            <!-- Right Side -->
                            <div class="col-6 card-right">
                                <p>105 Rating(s)</p>
                            </div>
                        </div>
                    </div>
                    <div class="price-div">
                        <p class="new-price d-sm-inline">{{ 340 | currency: 'INR' }}</p>
                        <del class="old-price d-sm-inline">{{ 340 | currency: 'INR' }}</del>
                    </div>
                    <p class="text-sm pt-2 pb-4">(MRP incl. of all taxes)</p>
                    <div class="cart-container">
                        <a href="#" class="btn btn-dark text-warning w-100 p-3 rounded-5">ADD TO CART</a>
                    </div>
                    <div class="buynow-container">
                        <a href="#" class="btn btn-warning text-white w-100 p-3 rounded-5">BUY NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container px-5 product-desc-container">
    <div class="card mb-3 d-flex flex-column position-relative product-desc-card">
        <div class="row g-0 flex-fill">
            <h3>Product Description</h3>
            <p>This is an appropriate and mild shampoo for hydrating, nourishing, balancing and volumizing your hair. Enriched with natural oils and herbs, it earnestly cleans the scalp and hair and leaves the locks soft, smooth and lustrous.</p>
            <h3>Key Benefits</h3>
            <p>This shampoo contains 27 high-quality botanicals elements to combine shampooing with advanced hair care. Being gentle on 
                the scalp and hair, the cleansing agents in the clarifying shampoo can effectively remove stubborn dirt, grease, and 
                product residues, thereby leaving your scalp and hair perfectly clean. Natural oils infused in the shampoo helps restore
                the scalps moisture barrier and hydrate it so that your hair does not feel dry after shampooing. It help mitigates the 
                irritated scalp and minimizes scalp flaking. Rich in bioactive components, it is beneficial for the hair follicles. The 
                hair boosters help to strengthen the hair roots and minimize excessive hair fall. Natural plant proteins help to add 
                volume and lustre to your hair. This shampoo is advocated for all hair types and suits both men and women. It does not 
                contain mineral oil and toxic chemicals such as paraben, phthalate, silicone, and sulfate. This is a cruelty-free product 
                and has not been tested on animals. Oriental Botanics is part of PETAs Beauty without Bunnies program.</p>
            <h3>Manufacturer Details</h3>
            <p>Vedic Cosmeceuticals Pvt. Ltd. B-31, Sector 85, Gautam Budh Nagar, Uttar Pradesh - 201 305, India. Mfg. Lic. No.: UP16320000029</p>
            <h3>Country of Origin</h3>
            <p>India</p>
            <a [routerLink]="['/products/body-wash']" class="btn btn-primary col-2 p-3 rounded-0">BACK</a>
        </div>
    </div>
</div>