<div class="container px-5 py-4">    
    <div class="card mb-3 main-card position-relative">
        <i class="bi bi-heart-fill text-danger position-absolute fs-3 save-heart" style="top: 10px; right: 10px;"></i>
        <div class="row g-0 card-row">
            <div class="col-md-5 img-div">
                <img src="https://healthyhome.co.in/cdn/shop/products/1_a3e807bc-bd33-45cc-b963-6388b63b6e76_1024x1024.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h1 class="font-bold pt-3 mb-2.5 text-2xl">Red Onion Hair Shampoo, 300ml</h1>
                    <h5 class="text-muted my-3">Strengthens Roots &amp; Improves Hair Texture</h5> <!---->
                    <div class="main-rating-div">
                        <div class="row no-gutters rating-card">
                            <!-- Left Side -->
                            <div class="col-6 d-flex card-left">
                                <i class="bi bi-star-fill text-warning fs-5"></i>
                                <i class="bi bi-star-fill text-warning fs-5"></i>
                                <i class="bi bi-star-fill text-warning fs-5"></i>
                                <i class="bi bi-star-fill text-warning fs-5"></i>
                                <i class="bi bi-star-fill text-warning fs-5"></i>
                                <p>(5)</p>
                            </div>
                            <!-- Right Side -->
                            <div class="col-6 card-right">
                                <p>105 Rating(s)</p>
                            </div>
                        </div>
                    </div>
                    <div class="price-div">
                        <p class="new-price d-sm-inline">{{ 340 | currency: 'INR' }}</p>
                        <del class="old-price d-sm-inline">{{ 340 | currency: 'INR' }}</del>
                    </div>
                    <p class="text-sm pt-2 pb-4">(MRP incl. of all taxes)</p>
                    <div class="cart-container">
                        <a href="#" class="btn btn-dark text-warning w-100 p-3 rounded-5">ADD TO CART</a>
                    </div>
                    <div class="buynow-container">
                        <a href="#" class="btn btn-warning text-white w-100 p-3 rounded-5">BUY NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>