<!-- Service 9 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5 py-xl-8">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="mb-4 display-5 text-center">Welcome user</h2>
                <p class="text-secondary mb-5 text-center lead fs-4">
                    Your personalized shopping experience is just a click away. Explore our latest arrivals, exclusive deals, and curated recommendations tailored just for you.
                </p>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>
  
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="container-fluid">
                    <div class="row gy-3 gy-md-4">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card border-dark">
                                <div class="overflow-hidden position-relative border-radius-lg bg-cover p-3 cardProd" style="background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230423/pngtree-different-color-of-shampoo-bottles-against-a-black-surface-image_2488057.jpg')">
                                    <span class="mask bg-gradient-dark opacity-6"></span>
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <h4 class="mb-4 text-white font-weight-bolder">Shampoos</h4>
                                        <p class="mb-4 text-white">Premium shampoos that nourish, volumize, and protect with luxurious formulas for radiant, healthy hair.</p>
                                        <a href="#!" class="btn btn-outline-primary bsb-btn-circle">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card border-dark">
                                <div class="overflow-hidden position-relative border-radius-lg bg-cover p-3 cardProd" style="background-image: url('https://img.freepik.com/premium-photo/face-cream-moisturizer-luxury-skincare-antiaging-cosmetics-minimalistic-design-brand-product_360074-48551.jpg')">
                                    <span class="mask bg-gradient-dark opacity-6"></span>
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <h4 class="mb-4 text-white font-weight-bolder">Moisturizers</h4>
                                        <p class="mb-4 text-white">Deeply hydrate, rejuvenate, and smooth skin with advanced, nourishing formulas for a radiant glow.</p>
                                        <a href="#!" class="btn btn-outline-primary bsb-btn-circle">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card border-dark">
                                <div class="overflow-hidden position-relative border-radius-lg bg-cover p-3 cardProd" style="background-image: url('https://img.freepik.com/premium-photo/blue-glass-bottle-with-organic-perfume-oil-round-marble-pedestal_961147-7802.jpg')">
                                    <span class="mask bg-gradient-dark opacity-6"></span>
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <h4 class="mb-4 text-white font-weight-bolder">Hair Serums</h4>
                                        <p class="mb-4 text-white">Serums that strengthen and add shine with advanced, revitalizing formulas for healthy locks.</p>
                                        <a href="#!" class="btn btn-outline-primary bsb-btn-circle">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card border-dark">
                                <div class="overflow-hidden position-relative border-radius-lg bg-cover p-3 cardProd" style="background-image: url('https://m.media-amazon.com/images/I/61pkzFTQQ6L._AC_UF350,350_QL80_.jpg')">
                                    <span class="mask bg-gradient-dark opacity-6"></span>
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <h4 class="mb-4 text-white font-weight-bolder">Body Wash</h4>
                                        <p class="mb-4 text-white">Cleanse, refresh, and hydrate with luxurious, skin-loving formulas for a revitalizing shower experience</p>
                                        <a href="#!" class="btn btn-outline-primary bsb-btn-circle">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>